/* Icon font */

@font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot?59919559');
  src: url('font/fontello.eot?59919559#iefix') format('embedded-opentype'),
       url('font/fontello.woff?59919559') format('woff'),
       url('font/fontello.ttf?59919559') format('truetype'),
       url('font/fontello.svg?59919559#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: "fontello";
}


/* Reset */

html, body, h1, p, a, div, section {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
}


/* Basic */

html, body, .container {
  height: 100%;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-image: url(images/bg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  color: #ffffff;
}


h1 {
  color: #efecec;
  font-family: "Cantarell", sans-serif;
  font-size: 4.5vh;
  margin-top: 2.3vh;
  text-align: center;
  margin-bottom: 2vh;
}

h1:after {
  content: "_";
  animation: blinking 1s infinite;
  -webkit-animation: blinking 1s infinite;
  -moz-animation: blinking 1s infinite;
  -o-animation: blinking 1s infinite;
  position: relative;
  top: 1px;
  left: 2px;
}

.container {
  position: relative;
}

.content {
  width: 106.7vh;
  height: 61vh;
  margin: -30.5vh 0 0 -53.35vh;
  position: absolute;
  top: 51.2%;
  left: 50%;
  opacity: 0;
  transition: opacity 1200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}


/* Content */

#avatar {
  width: 17.7vh;
  height: 17.7vh;
  margin: 0 auto;
  border-radius: 50%;
  background: url(images/av.png) no-repeat;
  background-size: 100%;
  border: 0.6vh solid white;
}

#skills {
  line-height: 3.6;
  font-size: 1.61vh;
  text-align: center;
  display: none;
}

#skills > span {
  background-color: #FCFCFC;
  padding: 0.6vh 0.85vh 0.65vh 0.85vh;
  color: #000000;
  margin: 0.5vh;
  position: relative;
  top: 80px;
  opacity: 0;
  transition: opacity 400ms cubic-bezier(0.215, 0.61, 0.355, 1),
              top 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

#skills > span.show {
  top: 0px;
  opacity: 0.6;
}

#bio {
  opacity: 0;
  top: 32px;
  position: relative;
  transition: opacity 350ms cubic-bezier(0.165, 0.84, 0.44, 1),
              top 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

#bio.show {
  top: 0px;
  opacity: 1;
}

#bio > p {
  text-align: center;
  padding: 0 6.8vh 0 6.8vh;
  line-height: 1.8;
  font-size: 2.22vh;
  font-style: italic;
  opacity: 0.6;
}

#preview {
  height: 3.8vh;
  margin: 0 6.74vh 0 6.75vh;
  opacity: 0.8;
  clear: both;
}

.buttons {
  padding: 2.9vh 5.2% 0 5.2%;
}

.buttons > a {
  color: #ffffff;
  float: left;
  text-decoration: none;
  text-align: center;
  width: 21.37%;
  border: 0.34vh solid white;;
  font-size: 1.8vh;
  padding: 1.2vh 0.2vh 1.3vh 0.2vh;
  margin: 0 1.25% 0 1.25%;
  position: relative;
  opacity: 0.65;
  transition: opacity 200ms cubic-bezier(0.165, 0.84, 0.44, 1),
              background-color 200ms cubic-bezier(0.165, 0.84, 0.44, 1),
              border-color 200ms cubic-bezier(0.165, 0.84, 0.44, 1),
              padding 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.buttons > a:last-child {
  float: right;
}

.buttons > a:hover,
.buttons > a.back.show:hover {
  opacity: 0.8;
  color: white;
}

.buttons > a > .icon {
  font-family: "fontello";
  font-size: 2.1vh;
  position: relative;
  top: 0.2vh;
  left: -0.7vh;
}

.buttons > a.back > .icon {
  left: -7px;
}

.buttons > a.back {
  opacity: 0;
  line-height: normal;
  float: none;
  display: inline-block;
}

.buttons > a.back.show {
  opacity: 0.65;
}

#preview.skills,
.buttons > a.skills.expanded,
.buttons > a.skills:hover,
.buttons > a.back:hover {
  background-color: #26C281;
  border-color: #26C281;
}

#preview.github,
.buttons > a.github.expanded,
.buttons > a.github:hover {
  background-color: #684572;
  border-color: #684572;
}

#preview.twitter,
.buttons > a.twitter.expanded,
.buttons > a.twitter:hover {
  background-color: #59CBE0;
  border-color: #59CBE0;
}

#preview.mail,
.buttons > a.mail.expanded,
.buttons > a.mail:hover {
  background-color: #DC4C4C;
  border-color: #DC4C4C;
}

.buttons > a.expanded {
  padding: 1.2vh 0.2vh 3vh 0.2vh;
  opacity: 0.8;
}

.buttons > a > span {
  top: 0vh;
  position: relative;
  transition: top 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.buttons > a.expanded > span.caption {
  top: 1.1vh;
}

.buttons > a.expanded > span.icon {
  top: 1.3vh;
}

/* Media queries */

@media (max-width: 900px) {

  html {
    overflow-y: hidden;
  }

  body {
    overflow: scroll;
    padding: 0 4.5% 0 4.6%;
  }

  h1 {
    height: 80px;
    font-size: 30px;
    line-height: 40px;
    margin: 11px 10px 13px 10px;
  }

  .content {
    transform: translate(-50%, -51.2%);
    margin: 0;
    width: 100%;
    height: 100%;
  }

   #avatar {
    width: 105px;
    height: 105px;
    margin: 6.3% auto 0 auto;
    border: 4px solid white;
  }

  #bio > p {
    padding: 0;
    text-align: justify;
    line-height: 1.8;
    font-size: 17.2px;
  }

  #skills {
    line-height: 2.9;
    font-size: 13px;
    text-align: justify;
  }

  #skills > span {
    padding: 3px 6px 3px 6px;
    margin: 2px;
  }

  .buttons {
    padding: 20px 0 0 0;
    text-align: center;
  }

  .buttons a {
    float: none!important;
    display: inline-block;
    width: 96.5%;
    font-size: 17px;
    padding: 12px 2px 13px 2px;
    border: 2px solid white;
    margin: 0 0 20px;
    opacity: 0.75;
  }

  .buttons > a > .icon {
    font-size: 20px;
    top: 2px;
    left: -6px;
  }

  .buttons > a.back.show {
    opacity: 0.75;
  }

  .buttons > a.skills,
  .buttons > a.back {
    background-color: #26C281;
    border-color: #26C281;
  }

  .buttons > a.github {
    background-color: #684572;
    border-color: #6A4974;
  }

  .buttons > a.twitter {
    background-color: #59CBE0;
    border-color: #59CBE0;
  }

  .buttons > a.mail {
    background-color: #DC4C4C;
    border-color: #DC4C4C;
  }

}

@media (orientation: portrait) and (max-width: 900px) and (min-height: 700px) {

  .content, h1 {
    height: auto;
  }

}

@media (orientation: landscape) and (max-width: 900px) and (max-height: 415px) {

  .buttons {
    width: 102%;
  }

  .buttons a {
    font-size: 14px;
    padding: 7px 0 9px 0;
    width: 21.4%;
    margin-left: 2%;
    left: -2%;
  }

  .buttons > a > .icon {
      font-size: 19px;
  }

  .buttons > a.back {
    width: 96%;
  }

}

@media (orientation: landscape) and (max-width: 900px) {

  h1 {
    height: auto;
    font-size: 24px;
    line-height: 40px;
    margin-top: 4px;
    margin-bottom: 8px;
  }

  #avatar {
    width: 78px;
    height: 78px;
    margin: 3.5% auto 0 auto;
    border: 3px solid white;
  }

  #bio > p {
    font-size: 15.5px;
    line-height: 1.65;
  }

}


/* Animations */

@keyframes blinking {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blinking {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes blinking {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-o-keyframes blinking {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}